[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=FOSDEM'10
Exec=/usr/bin/fosdem
Icon=fosdem
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

