Source: fosdem-maemo
Section: user/support
Priority: optional
Maintainer: Matus Uzak <matus.uzak@ixonos.com>
Build-Depends: debhelper (>= 5) libqt4-dev (>= 4.5)
Standards-Version: 3.7.2

Package: fosdem-schedtool
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FOSDEM 2010 scheduler 
 FOSDEM 2010 conference scheduler, which enables a user to browse the
 conference schedule and display event information. A user is also allowed to
 create a list of favourite events and add selected events into the calendar.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
 SU1FB9oBFAkGE0BfoUYAACAASURBVGgFATAkz9sAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAABkAP///wAAAAAAAAAAAAAAXzFhYZ9fbm6nWwAARiQAAEw7IyN4OQAA
 AAoAAAAAg4OzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAADA2YAAAAAAAAAAAAAAF0NXV2dYqenyeL19fn////////////z
 8/j//Pz9///////8/P3sfn6xiAAABQtPT5QpKCh9FwAAAAAAAAAAAABjAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAASEm8AAAAAAAAASgQ7O4hhtLTR///////+/v7+
 /v7+/v////////////////////////////////39/v/x8fb//////97e6vaB
 gbJxAAAAAIaGtQAAAF8AAAAAAAAAAAAAAGUAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGMAAAAAAAAAXTewsM7k9/f6
 ///////////+/v7+//////////////////////////////////7+/v//////
 //////7+/v//////39/r9tXV5uzn5/DrZGShogAATwwAAAAAY2OgAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABXV5cAAAAAAFNT
 lnjd3ev///////////709Pj/4+Pu////////////////////////////////
 /////////////v7+/////////////v7+///////////+/////v////+3t9Ps
 KCh9RQAAAAAiIngAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYwAA
 AAAAAAAAAGRkoIn6+vz//////v/////+/v7////////////+/v7/////////
 /////////v7+///////////////////////7+/3/7+/1////////////////
 ///////+/v7+/////+bm8P9/f7FrAAAAAAAAAAAAAGUAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAZAAAAAAAAAAAAGFhn6X39/r8//////////////////////7+/v//
 /////////8XF3P+lpcj/7+/1/////////////v7+//7+/v/+/v7//v7+//r6
 /P///////v7+/////////////v7+///////+/v7+/////5+fxKMAAAAAAAAA
 AAAAZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHl5ravq6vL+//////////7+/v7/
 39/r//f3+v//////////////////////lJS+/0pKkf/d3er/////////////
 ////mprB/////////////v7+///////6+vz//Pz9////////////////////
 ///9/f79tLTQtgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJycwo709Pj8vr7X
 //Hx9/7+/v7///////r6/P/OzuH///////////////////////////99fbD/
 AABk/zw8if+hocX/UlKW/5WVvv//////////////////////ubnV/9PT5P//
 ////8PD2//j4+v/+/v7///////z8/fuwsM+PAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHB2gAAAAAAIqK
 uEbp6fLf//////T0+f7////////////////+/v7//f3+///////+/v//////
 ///////+/v7//////76+1/9kZKD/EBBu/yYme////////////7q61P++vtf/
 /////////////////////+zs9P/9/f3///////7+/v7/////8/P3+H5+sIAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAA/Pz+Kp/v7+///////7+/3/5+fw//7+/v///////Pz9/729
 1v9wcKf//////////////////v7+///////+/v7////////////09Pj/AABb
 /xAQbv87O4j//v7+//z8/f/7+/z///////Hx9v/q6vL//f39////////////
 /v7+/v/////j4+7kHh52SgAAAAAJCWsAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAABjAAAAAACRkbxK29vp5v/////////+/////0BAi//p
 6fL////////////n5/D/XV2c/6Ojx////////v7+////////////////////
 ///+/v7//v7+/7u71v8NDWz/wsLa///////+/v7//v7+///////Z2ej/9vb6
 ///////+/v7///////7+/v//////9vb5/7y81rwAAAASAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF4YurrVqvf3+v/7+/z+
 /v7+//////96eq7/AABb/6+vz////////////83N4P8iInn/g4Oz////////
 ///////////////+/v7/////////////////0dHj/2Zmov/Cwtr/////////
 ///NzeD/ysrf//n5+///////+fn7//39/v///////v7+///////f3+v8kJC7
 dwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnp7D
 T9PT5P7//////v7+///////+/v7/3t7s//j4+/+bm8L///////7+/v//////
 ycne/xsbdf8vL4D/Zmai/01Nk/+8vNb//////////////////v7+//////+l
 pcj/CQlq/4KCs/+np8n/ZWWi/9LS5P///////v7+//7+///+/v/////+////
 ///////+/////83N4ckpKXwtAAAAAAAAZAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAABQEaenypn//////////v/////T0+T/mprC//b2+f//////o6PH
 /+Xl7////////v7+//////+7u9X/MjKC/xsbdP8ODmz/AABc/wAAX/9cXJz/
 oqLG////////////3t7r/2Vlof8lJXv/AABf/ykpff/Y2Of///////7+/v//
 ///////////////+/v7////////////i4u3/qKjKcwAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAKOjxizQ0OLf/////6WlyP8ZGXP/AABa/7S0
 0v/9/f7///////T0+f8gIHf/z8/i///////+/v7/////////////////////
 /+fn8P9BQYz/AQFl/w0NbP/g4Oz////////////+/v7//////8jI3f/OzuL/
 9fX5//39/v//////z8/i/y4ugP/S0uT////////////+/v7+/////8DA2bon
 J3shAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEQaJibdz+vr8///////y
 8vf/8fH3///////////////////////+/v7/9vb5/+Xl7///////////////
 ///+/v7///////7+/v///////////9LS5P9dXZ3/AQFl/4qKt///////+fn6
 //b2+f///////////0REjf8jI3n/IiJ5/xISb//W1ub/////////////////
 4ODt/9LS5P/W1ub2o6PGRwAAAAAAAGIAAAAAAAAAAAAAAAAAAAAAAABFRY4T
 np7Er//////+/v7////////////39/r//////+Tk7/9dXZz/7+/1///////s
 7PP/rq7N/1dXmf9eXp3/qKjK//T0+P//////29vp//39/v///////////8HB
 2f8DA2b/AABW/1BQlP/////////////////k5O//FBRw/0ZGj//v7/X/////
 //39/v/o6PH/6ury//f3+v9xcan+f3+x/7e30nEAAAABAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAaWmkEba20qP///////////7+/v/+/v7/////////////////
 Z2ei/wAAVf8AAGL/AABY/wAAY/84OIb/SkqR/xISbv8AAFX/HR11/wAAX/+v
 r87//v7+//7+/v//////5+fx/z09if8VFXD/qanL/////////////////9nZ
 5///////+/v9///////4+Pv/xcXb/93d6v//////29vp/9vb6f+pqcqWAABF
 EAAAAAAAAAAAAAAAAAIAAAAAAAAAAAcHBP8GBgT9+Pj7AO7u9QABAQEAAQEB
 AAAAAAD39/sAhYW1AOfn8gC0tH0AREQrAG5uTwD//5wAx8d5ALW1bgCIiFMA
 WFhEADIyHgAfHxgAUVGWANvb6gABAQEAAAAAABgYDgCZmV0ADAwIAGxspgCt
 rc4A////APv7/QAmJhgAR0ePAAUFYQAlJXsA/f3+ACUlGADGxtwAAAAAACMj
 FQAkJBYAAgICEhMTKwYAAAAAAAAAAAAAAAAAAABlAAAAAAC1tdIc2Njn2LS0
 0f8wMIH/v7/Y//7+////////PT2J/z09iP/4+Pv/////////////////5+fw
 /9PT5P/r6/P/6enx/////////////////6mpy/8VFXH/2Njn/5ycwv80NIP/
 6urz/+jo8f9nZ6P/AABe/wAAYf+3t9T//////+rq8/8GBmf/ZGSh///////l
 5e//h4e2/9PT5P+dncT/9/f7/6WlyKUAAF0WAAAAAAAAAAAAAAAABAAAmwAA
 AAAAyMjeJCQkFidLSy4ADQ0IAOvr9ADExNsAZmaiAPLy9wDLy3wAkJC8AL+/
 2ADj4+8A5ubvAPDw7wAAAAgAAgIBAEdHKwBNTS8At7fUABwcEQCMjFQAFBRl
 ADw8iQDs7O0AHR0ZANXV5QA4OCIAmJhcABERCgAXFw4AQUEnAAAAAAAVFQwA
 iYlUALe30wD///8AEBAKAEFBJwDz8/gA/v7+APj4+wABAQHVAACj7wAAAAAA
 AAAAAAAAAAIAAAAAAAArBOHh7SUbGxAAAAAAAD4+JgBTUzIAxcXcANjY6ABW
 VjUAWVmbAHh4pQDExNsAFhYNAH9/TgBhYUMABQUDAP7+/gC3t9IAamqhALOz
 0ACXl70ACwtrAPj4/ADr648AZWVEAOPj7ACkpMgA9/f7AAAAAAB7e0oAExML
 AOnp8gD+/v8A5+fwADg4IgAJCQYAKCh9AAMDAgAcHBEA19foAO/v9gCurs4A
 7e313gAAAPsAAAAAAAAAAAAAAAADAAAAAAAARwIdHRYwBwcFTiIiFf8FBQMB
 trbTAH9/sgDy8vQAyMjcAO7u+ACgoGUAY2M9ADg4IgAKCgYA+/v+AOjo8QDr
 6/AAAAADAAAAAgAAAAEAAAACAAAAAQCmpsMAKyseAGlpQABVVTUAsrLRADc3
 IQDv7/YA3t7sAK6uzgA7OyQAbm6nAGBgmQDs7PgA4ODsANbW5gDm5vEASEgr
 AO3t9ABYWDYAxcXc9Z6exaHp6cDdAAAAAAAAAAAAAAAABAAAAAAAAKT9BQU5
 4t3d6gC0tNIBS0stAJqawgDj4+gAAQEHAGxsQgDy8vgAYmKgAPn5+wAtLRsA
 Y2M9AN7e6wA3NyIA6enyAOzs8gAAAAIAAAAAAAAAAAAAAAAAAAAGAFZWlwAX
 Fw4Aysp8AKOjYwBtbacApqbDAAAABQAGBgQAZmY+AN/f7QAAAAUA3t7qANjY
 6AAAAAAAq6vMAC8vHQBubkIA0tLkAPT0+cs5OSHe0tIAAAAAAAAAAAAAAAAA
 AAEAAAAAAAAAAJ6exCLY2OjPycnfDj8/JgCzs9AAFhYOACgoGACkpMgA7e3y
 ACIiGAAHBwQA3NzpAPv7+wAZGRIAJycYAMrK3wD29vgAAAABAAAAAQAAAAAA
 AAAAAAAAAAAAAP8AAAAAAAgIBgAZGQ8A7OzzAPPz9wAAAPsAr69xANvb6gCn
 p8oAExMLAPv7/QDBwdkAAAABAAAA/gAnJxkAk5Na/7Oz0QGcnMOH9/eXegAA
 AAAAAAAAAAAAAAAAAAADAAAAAAAAAAAEBDT+7+/2HiwsGjH4+Pv/wcHaAVdX
 NQCystEA4eHrAAAAAgDv7/UA7OzzAP7+AAAKCggAMjIeAAMDAgASEgwA6+v0
 AAEBAQD+/v4AAAABAAAAAAAAAAAAAAAAAAICAgAZGQ8A5ubwABERCwANDQkA
 PDwpANra6gCystEA8/P4AHR0RwCTk74A/v7+AAAAAQAAAAEA7e3zAKSkyQEC
 AgHjXFw4ksLCqd0AAGQAAADOAAAAAAAAAAAAAQAAZAAAAJwAAAAAAJmZwUTa
 2um7jY24AE1NMQD9/f4Au7vWAPv7/QATEwwA7e30AAAAAAAAAAAAAAD/AAAA
 /AAAAAMAAAACAAQEAgD8/P0AAAABAAAAAAAAAAAAAAAAAAEBAABCQigAFhYO
 ALm51QAODgkA4ODkAImJWwDx8fcAn5/FAF5eOQDh4e0AqqrMAP7+/AAAAAEA
 AAAAACQkGQClpWQACgoFoy0tHGgAAGMBAAAABgAAAfIAAJz9AAAAAAEAAAAA
 AABkEAAA/5wEBAO/srJsQfHx+FPHx93/0dHjAcHB1wAAAAIAAAAAAAAAAAAA
 AAEAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
 /wAAAAAABQUEAFFRMQAREQsA/v7/APDw9gCxsc8AeHhKAGBgOgAhIRQAkpK9
 AOrq8wAZGQ//3d3qAampzABsbEIAREQp7FlZm2fd3eT2AAAGoAAAABcAAAAA
 AAD/RQAAAbwEAABjAwAA/40AAAFT/Pz6AtTU5p7z8/hT////AQUFBAAKCgn/
 9vb5AQAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAP8AAAAAAAAAAAAA
 AAAAAAAAAAAA/wAWFg4A6uryAPv7/AC2ttMAdHRHAHx8SwDp6fIALy8cAIWF
 tv8VFQwBXl46AP7+/wDt7fQAPT0lAAoKBgA5OSQAvLzW1E1Nk3vp6ezGAAAF
 owAAABcAAP8AAAABAAAAAbsAAP8SAQAAYwUAAAHrAAAADwAAAPwAAP7SAAD6
 ogQECtAsLBuB3NzqP/T0+AAAAAAAAAABAAAAAAAAAAAAAAAAAAAA/wAAAAEA
 AgIBAP//AAD///4AAAABAAAA/QAsLB4AMzMfAKGhxAAAAAEADw8KAIuLVABl
 ZT4AAAAAAAAAAAD39/oAh4e37pSUvmXv7/LtEREOHu/v6xkAAAfxAACgogAA
 YHYAAARRAAAAJAAA/wsAAAD/AAABAQAAAP8AAP8BAAABXQEAAGQFAAAA+gAA
 /wAAAAD/AAABAQAAAAAAAPyDPT0o5gcHBYXLy+AS8fH2/wAAAAAAAAEBAAAA
 /wAAAAEAAAAAAAD/AAAAAAAAAAAAAAABAAAA/wAAAP0ATk4zALKy0AAAAAEA
 AAAAAAAA/gAFBQQAMzMgAOrq8gDe3uUAAAD9AAAAB9MAAANTAAAAwwAA/wUA
 AAH0AAD/DwAAAA8AAAEAAAD//wAAAQEAAAAAAAAAAAAAAAAAAAAAAAD/AAAA
 AHABAABjAwAAAPwAAAEAAAAAAAAAAAAAAP8AAAABAAAA+1YtLSAj+vr8bt/f
 7Q0EBAL99vb58gAAARsAAAACAAAAAAAAAAAAAAAAAAAAAAAA/gAVFQ8A/Pz9
 AO/v9gAAAP8AAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAQEAAAC4
 AAD/jAAAAKsAAAARAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAP9vBAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAB/wAAAAEA
 AAWq09Pk2wAAAK4AAADq+voATwAAAXwAAP9nAAAATwAAAQAAAAAAAAAAAAAA
 AAAAAAD/7+/2Af39/QAAAP//AAABAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAP8AAAABowAAAUoAAAAKAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAEAAAAAAAD//wAAASUAAAAlAAD/AAAAAAAAAABtAAABXwAA/zIA
 AAAdAAAAAAAA//8ICAUBEBAKwPT0+ZH09Pz3AAABegAA/z8AAAEAAAAA/wAA
 AAEAAAAAAAD//wAAAQEAAAD1AAABZAAAAOIAAP+JAAAABwAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAy
 AwAAAH0AAAEAAAAAAAAAAAAAAAAAAAAAAAAAAQEAAAAAAAAAAAAAAQAAAAD/
 AAAAJQAAAPYAAAEMAAAAIQAA//8EBAQB//8A2PLy9X36+v4+AAABaQAA/64A
 AAGLAAAA3gAAAAAAAAD9AAAA+wAAAOIAAAGeAAABYwAAADMAAP+hAAABFAAA
 AP8AAAEBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAC4BAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAQAAAfoAAP/UAAD/fwAAAP8FBQQBIyMV3yQkFnC0tNBi
 AAAAVgAAAP8AAAAvAAAAAAAA/8MAAACXAAAAzQAAAfIAAAEIAAD/SQAAAMYA
 AAEZAAAB/wAA//8AAAEBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAP+wDw8KUV5eOQCmpsoBBgYD
 0yYmGGeyss5ZAAACVgAAAAAAAAAAAAAB/wAA/wAAAAA9AAAAPQAAAf8AAAAA
 AAD/AAAAAAEAAAAAAAAA/wAAAAAAAAEBAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAABQUEu2ho
 QFoTEwwAjo5V8kFBKKmysslFAAACbQAAdi3hCQAABDtJREFUAAAAAAD/AAAA
 AQAAAAEAAAEBAAABAAAAAQAAAAABAAAAAQAAAQEAAAEAAAABAAAAAAEAAAAB
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAABAAAAQAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAABAAD/z1paNxGIiFIAAAAAAJOTvrimprHdAAAYpgAA
 AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAQAAP8AAAAA9gAA/woAAAEA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAdyhoY+PxMTbMA0NCNXQ
 0NLGAAAYrQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//gBAABj
 AwAAAbEAAP9LAAAB/wAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//8AAAAB
 AAAAUAAAANEAAAF1AAD/agAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA
 AQAA/wAAAAEkAQAAZAAAAAAfAAD/1QAAAQsAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAA/wAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAA/wAAAAB1AAABjQEAAAAAAAAAAAAAZAUAAP8rAAAAAgAA
 Af8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
 AAAAAAAAAAAAAAAAAAAAAAD/AAAAAAIAAADlAACd6AAAAABKnuOLWCU7BAAA
 AABJRU5ErkJggg==

