Source: fosdem-maemo
Section: user/support
Priority: extra
Maintainer: Matus Uzak <matus.uzak@ixonos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: fosdem-maemo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fosdem 2010 scheduler 
 A Fosdem 2010 scheduler, which enables a user to browse the conference
 schedule and display event information like location, auther, abstract.
 Moreover a user can mark events as favourite, then display favourite events
 and add selected events into the calendar.  
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFgAAABYCAYAAABxlTA0AAAAAXNSR0IArs4c
 6QAAIABJREFUeNrtfXl0VFW29+/cGlKZ54SQhCET8ywgoyCgIBIEEQSHtlts
 wFlAGgVbEW1UxH6KgrwWFAWZRIFGgSCTEKYwhoSMEEISMg9VldRcZ39/1L3F
 rRHs93p961tfn7UgVTdn3Gfv395n731uGOecGGMgIkhF+s4YIwAgIsYYI+mn
 7BkAuNQBwOTPxP5I9ln8FTHOCYwBgiDArRAAJs7B5TkROceWfiefu3w82U/n
 mPBTvK3Xff4+1uOcgzstlVIFX5N1m4DXz97aeFm08zkRIAgMCoXjWXNzG27e
 bALnBJVKAc4JYWEadOoUA4vFjhs3GsA5ITo6GLGxoXc9V/kGeSOA2+bBy4a6
 PPc3ns95EBGXdeTk0N9bfLRl4qRInLg0e2psbGO5uRWwWu1ObtZoVKRUKiAI
 DEqlgLY2C+rq9BAEhoSEcMTEhCIkRA2dzsTatQtDdHSI16n4IpablLnUd5+3
 7Ln02b0Nc2vv0kYan5FsW9x32V1kvAzsEyLEvuQwwgAgL68KV65UUUREEIuJ
 CYFCwZCQEIGEhHAPiMjLq4LdzpGaGouQEA3sdk46nRF1dXp282YT7rmnI0pL
 61BQUAPGgOTkKAwa1BlBQWryQhgnXLjDoZfN+V+DCPbvwGCxonMT2trMdPly
 JTtz5jq6dGmH1NRYiokJYXIOJCJImEwEUigE5kVMnZtbVtaAy5crkJgYibAw
 DQSBQas1oqioFl26xNM993RiNpudzGYb02hUUCgEJ7F9ifq/A4NdONgdb2QE
 gxfR8taGOCemUDiUVn29HiUltcjNrUJCQjgGD+6MmJgQKJUKvzjtBw9JfM4A
 QK83ITRU41JBpzPi4sUKNDW1ITk5ElarHQEBKoSGBiA2NhQREUEAAJuNQ6Fg
 XseU1utGVL84/j8hsF+IkLhVnAwxxpjJZKUTJ0pQXt7E4uJCMXp0FwoJ0Tgn
 W1XVQpGRQSwoSO0xOXdx9kZgGfR4bV9bq6MjRwrZiBHplJgYyW7ebMKJEyUE
 gCUlRWLQoM7QaFQ+IVEGcx4Q58/KcVeqHhj8r3Cw2+KooqKJHTpUCI1GiQkT
 eiE8PNCD448dK0JGRjsn7vpQSLgbAvuyFLyVioom/PZbMTgHevVKRN++yf7G
 dMFsf9aFXwJzzrmsEybjSK9i4UdJsFOnrlFhYTUGDOiE3r2TPKwLqb3RaIFK
 pYBSqYC7MvQGG17EUZoqGGPMbnfoEUFgPhctgxbKz7+FgoJqaDQqDB2aiqio
 YJ/ScCczzU89h0STo3jtwBdE3La8bhPlp58uMovFRuPH92QREUEunCZ+YT4k
 A0QEs9kGjUYlZ1Nv3OOCwdLvysoaEBLiwFg3M8pFAjl3YKogMNjtHAUF1Whq
 akNCQjjS0uJ8KXW/EOEPo383RHgTmerqFuzceRHt24dj6tT+HpraXWS8iREA
 rFt3DGazDS+/PAYAYLdzcE5QKgUXAouWhgsG19frERCgQliYq8LjnEBEEATm
 9aADAFarHQUF1dBqTejTJxFhYYGSNUPuG/mvQAQ45+TQ/l5/csdH7vhP+uJ4
 TmfPltGyZXv4r79e5aIkyOtyIiKdzij14+xb/l16VlxcQ/36vUuzZ2+k2lqd
 syIRkc1mJ8452e23+y0trSWLxSav5uyPO4pzHGli8vHcy7Vr9XTgQB6vqmqW
 r9PXfL32Jaed9A/kv3DZJOWT5llZ+fT++z9TYWE1l02Au7crLa2j48eLuc1m
 d984ciM6Xb5cQUlJi6hduwV86dJddOrUNa/zWbfuGC1evJOkPr30xYmImpra
 +JEjhWQwWFzG1OtN0jOX8Rsa9HzPnsu8pKTWhYjcc1c43YlwYpO7JrCceCdO
 lPL16084ubO2Vstv3GiQD+xsZzRaaP3647yystnnBOXzv3Spgrp0WcKBCaTR
 zKNJkz6jL744TCUltVRZ2cT/8pcfeFDQ85SVle9zYdJcV6z4ha9cecBjzKKi
 Gqqp0XrdmLY2M9+/P4+uX6/34P7/FQJ7gQiXSefnV9GBA7cXZzJZacuWM3Ts
 WDEREbfbuQfRmppafXGa12dVVc30xhs7KSBgLgFTCHiKYmNfo+joVzkwmT/7
 7Dce7S0WGxkMFpd+Tp26Rg0Neo/+29rMZDZbPfqQJMJut9Pu3Rd5Xl7VXc/Z
 /buTwO644Y2DJWLfvNlIhw8XyLmabDY7b2xslSDA+dMNxnhtrZZ0OoO0EO4F
 N0WcdbanmhotHT5cQMuW7aGePd8m4Ck+ZMjfeG5uBRkMZjIYLNTaaqIvvjhM
 3bu/Rd9+e5K8wJmTQex2OxUV1VBDQ6s33JYYhBMRtbaa+Lp1x6ig4JaLALuq
 IvInRQ4MdhvAY0CpJ4PBzPfsuUQ1NVoucaock2tqtGSx2LhEQHcl8cEH+2jo
 0BXU2NhKRMQtFpuHYnWXFnfuunatjhsMZj5v3iZKTn6dZsxYR0OHriBgFk2f
 /iW1tBjkok5ms5U7ONIxT6PRQgcPXqXaWq1PArsyVBN98slBqqxs4m7Szb20
 9fjshAg/loSTW/Pyqvju3Rc9uFPkRv7hh/to5cr93AvnExHxsrIGCgt7icaM
 WeWh5Nwn6odDOBHxn3/OpcjIlwmYRMBUmjZtLUnVpbUbDGYymaxcBiG8rc3s
 QVg3zuPu3H/q1DX6+OMDzrbuVoQ/BvWwInwNqNeb6KuvjvOmplYyGMy8paXN
 BSKIiG/ceJJCQ1/k8+ZtonPnbnCt1sDdsfyXX66QWj2XBg9+n+flVXoVKzdz
 z5t1wCWLw8G9T7roBC/WDBERnT59jR88mO/E2DsRWL7D27bl8G++yaY77b5X
 JXc3dvCWLWfot9+KOBGRVmvgcjtVsk31ehOlpy/hwEQKC3uRf/11Npctxll/
 69azBDzNFYrn6NNPf/VnvfiFLMnGXrz4B5o79zvatesiFRRUu7fnDrPMSH/9
 6y5+8mSpC4GJiKxWO5nNVq8QId/Y//7vY3T8eDHJINAbtPm3g+WVJGVz/Hgx
 3749RzZpzu12F6OdExG/dauZPvvsEP/ss1/p/vs/5s8/v5nLNLPTuhDFjicm
 LiRgCo0Y8SHt2XOJWloMZDJZaPfui7R372Xuz2y02zmJkRAiIlq//jgFBz9P
 6elL6PLlSqeylSi0Y8c5mjZtLfe2TpvNTkajRa5cXTbHarUREfHGxlZavfoQ
 VVQ03fGgIf/s4nB3P09bLDb67rvTbNSoLkhNjXX6RyXnuOTXra/Xo7nZgPT0
 OGKMMa3WiA0bsvHww72Rnh4Hq9UOlUrhcpSsrGzGpEmrcelSDoBgREa2Q7du
 7XDlShX0ehP+8IehmD59IGJjQ5CcHIl27cLhHpKRH3n79XsXly4dApCGceN6
 IjBQjeBgNZKSInHgQD6efnooFiwY53Wd0pFachi5e9M45xAEAadOXcPNm02Y
 Pn2gGBigOzqFGOfcw0Vkt3MolQocPHgVer0JU6f29+r+a201Ye3aY1CrlXjl
 lTEuv9u58zyys0vxySczPJzr0qTq6nR49dVt2L8/D0ajBSaTFYAZQBsAGwAF
 gAgMG9YV992XAQA0fHgamzChl8fZf8uWs/j551xUVDShuLgWNTU3xT7sAOJw
 8uQbGDIk1atDxpf71Zv/5JtvTqJfv2T06ZN8x8CrR9BTHu4xGi04ePAqevdO
 QqdOMc4KxcU1OHGiFLm5ldi/Pw9FRdexevVsvPji/cxu5yQ5VpqbDZg+/UsE
 BanZ2rVPUvv2EfDuBAIuXChnOp0RBoOVmpvbUF+vx/XrDbh48Says4sBNAEQ
 AJjRuXMv/PbbIpaUFEnuc3ZEKuwoLKxBdnYp9uy5jF9+uYI5c0Zi7donne5K
 dyIUFdUgN7cSPXq0R/fu7X05vsRgQTP27s3Fn/403EMqvQZYfWm/S5du0r59
 V1xAPy+vikaM+JAnJb3OJ0z4lJ5+ej199tmvXK83uuCWZFmcO3eDBg16nzIy
 lvDNm097DCPHZW9Krr5eT9nZJfT885vEU90sDjzGMzKWUHZ26Z2O+KTTGfmF
 C+VUW6ujn366wFevPuRyRK6qaqa5c7+j0NAXKDX1DcrKyvfAYG9Ww6ZNp/jF
 izfvyorwiCozxtDQoEdW1lWMGdON4uPDnLuh0xlZaWk9hYZqkJISI8XeSHQN
 MkHwDCsZDBbk5JSRUqlggwenQKkUvPlXne5JCfzUaqUcDHH8eAmOHCmkn3++
 gpycK4yxUCxd+jCeemoIOnWKhiAwtLaaQUQIDdUQ58RUKoVznL/97RdasmQz
 Gzq0F3r0aI+WFiOysq5Cq23ExImDsXz5ZPTr18EjVM85QRAYZWeXMs4JI0ak
 o7Kyifbty2PPPTfSVwqD3GfqYeTTpUs36W9/+/lOHiWnmSOVc+du8HXrjlF1
 dYvPndXrjZSfX0U5OWV07VodVVU1U2urie6ycCLihw4VUJ8+7xAwlYBn6J57
 ltP9939MAwYsp6Kiaq+cZLHY6IUXNhMwg4BHCXiU4uPnk2ghedS/dauF6/VG
 5/dDhwooLe1NWr/+OBkMZtq06TQ1N7d5PVzI/3lgMADKy6vC2bNl+NOfhvt1
 MFutduj1JinkwgoLq+nll7dCqzXihRdGo1evRGa12nHrVgsxxlBdrWX79+dh
 //48MpsbmUYTg9jYUOrfvwObPLkPIiODKTY2FN26JaCuTo8dO85h5sxBSEuL
 89AdJpMFixbtxOrVhwHUiRgdidzc5dSrV6ILJ8msDfbEE1/R99+fYs8/fz+W
 LJmI9u0jSMZsEAQBN282sfPny+m++zIQFRXMREc/mzjxM+zffwa5uSuJc2JV
 Vc146KFe8iiLS8qY16gyAJSXN+L8+XIpQiGv5zMvQtqcc+fK2cCBCwiwIiKi
 E1MoGBobGwmwMcAAQIXo6GTq1q0dS0qKRH29HocOXQGgBRCE4OBI9O2bTDqd
 kV25chXPPz8ZX3zxhM+Q8vHjJfjiiyPYti0HgBH33tsDn302kwYO7MS8ZOCw
 ioomFBXVYuzYbj6zgs6eLWPHjhXT7NkjWGRkEOx2TgqFwAoKqnHoUAFmzhxE
 DQ2t7MyZMjz99BCIMOIVIpRyrSphrZQfJnGpSqUg96CkLOgoszBqsWjRD5Sc
 nIq0tFhcvFiBxsZaAAzx8e1p2rQB7P77uyIjIx5xcWGIiwuFxWKjmTP/wX78
 8TCAIGpr0yI7uxaAQICANWv2Iy0tHq+9NtZrqGnEiHSMGJGOXr0SsXTpNpw+
 fZIeeqgOmzbNpgcf7OGSGsU5R3JyFCUnR7Ht28/ht9+KYbXaKTIyGB06RGHk
 yHT07JmI3r2TsGXLWZSV1VNkZEdnnke3bgno1i3BaceLRJVzrXuKGJRe4mzM
 aLRIYkk//ngB7dtHsBEj0p0czDkHcxQAoJycG3jppS04f74cDz/ci50+/QZF
 RAShoaEVV6/egsFgwb33pjDJVJMXtVrJ1q17EgsXPoCIiCBms3G0tpqotdXM
 jh4twqpVWZg//79x40YDPv30cZKbeCaT1Rko7dq1Hfr0SUVxcR1raKigCRP+
 iy1Y8ACNH9+Tde3aDrW1OmrXLhzt20cwyYb/4ot/AjAzQIPJk4dh1qxBBAAa
 jQppaXHYujWH9evXAYwx2Gx2mM02CAJDYKAaRqMVDQ2tTmLKckM8Ew3k4N7W
 ZqZffsl1HhE/+mg/79JlKb344ma+e/dFam5u40TEtVoDcc7p6NFCnpLyBgcm
 0Nixq7jFYnU/cjpNnqqqZrpypZIOHy7gZWX1ZDJZ6PTp67780EREVFBQTcOG
 fUDA4zR//jZeWlrHS0pq6bPPfqWePf9K8+Z9R1VVzVRfryOj0ULXrtXRY4+t
 5cDjBDzGgWeJsdn0zDMbuNFocRlk4cLtBMwiYCatXn3IZd51dTretetSOnGi
 lJqb2/jy5Xtp48aTVF+vIyLiopdN8sf49EUoneFlkSu0WiMqK5ud36dO7Y8O
 HaKwdWsOJk/+L2zd+gJmzBiIrVtzsG9fHvbsuQTOmzB9+mRs2zYHAFBSUotb
 t7SoqGiC0WiBTmfCuXPlyM4uQU2NDlarHt26pWDo0DR8//1ZvPbaWLz11sNO
 0bt0qQKxsaHo3TsRXbu2w4kTf8G8eZvwySf78cknWSIHtQKwIi+vEp07x2Dh
 wgfBGENKSiy2b5+Lr77qgaVLd6G29gbGjh2ON998yCObZ+XKx1Be3oQdO7Jw
 9Wq1C+PFxoaiR4/2qK3VYtiwVBQUVCMsTIOYmFAnTMnSBHznTUhHZYmgWVlX
 YTJZkZnZx8VeNZmstHVrDhs/vgfatQvH7NkbsX79PwEoMHXqKOzcOQ8XLpTT
 W2/tZqWldSgra4DVWi8eVe1iNyoAagABALjzeWBgGIYOTUN8fBjy82/h8uVi
 aDSh6Nu3A0aN6oJXXhmDdu3CcexYMX3//Rls2HCC2WwtAAQMHdoHL788BgkJ
 4bj33hSo1Urn4i5dqsD8+duxePEEPPBAd68269GjRRg9eiU6dYrFq6+OQUZG
 PMaN6w6DwUoXL5azIUNSUV2txaJFP6Bnz0QMHNgJAwd2wunTZUhJiUG3bgn+
 85TdrYh1647h3ntTpLO26NIkJstOpDNnyjBlyhesuvoWIiNjafHiCVCpFOyt
 t3ZTW1sFA9QEhKFz5ziWkhKDSZP6UFJSJKut1WP37ov49dcC4pwzgIlOEzsA
 q0h0AUAAAZwBJgA2pKenY9myyZg504GR58+XsyVLfsKBA6fBWCj69EnGzJmD
 sGDBA5AdfhgA2r8/j61ffwLffvsnCgxUOzHSbLYiIECF4uJavPDCZvTv3xG/
 /VZMjDGcPLnYmQRitdoxatRK6tYtgU2Z0k86EFFdnZ79+c8j75jzoXS3c6Oj
 g9HWZsG6dccwZ859oofJccZXKhU4c+Y6Hn30S1RXNwAIgtlsw7vv7kVbWzWA
 cAwfPhT33puKjIx4BAaq0KFDFHr3TkJERBBaW83o2bM9WlvNOHmyAIASDr2g
 gCAoXRJGGFNAEELBOaGkpAKzZq1BXl4V3n9/CgYM6Ij9+1/F5s1n8PHHB3Dp
 0hWkpcVJxIXRaIXJZEVkZBDUaiWOHi3C6dPXMXp0V1y4cBPLl+/FhQvlGDky
 A/fdl4ExY7qBiFBZ2Yzqai1WrjyA119/0GkG3rzZhBUrpmLkyAyYzVY8/fQG
 9O/f0VeOsW+IICKcPHkNCoWAuXM3YfnyR2jSpN6w2zlTKASqq9OzzMzP6cyZ
 C1AoopjdbgZgJCAU996bykaNyqCpU/szo9FK//jHcdy82ciCgwMAgAYN6sw6
 d45BTY0OGzacoOLi6+w2ZLgnmjMCJI0scbkRQAB17hyHceO6s2XLMiUXJr7+
 Ohuff34Y48Z1x0MP9caXXx6lsrIGlpnZh06cKGW//HIBn376FL388hiWlXUV
 Eyb8FzivA6BBenoqgoMDcOlSOQC7OAkLe+658bRu3VOMc0JtrY4k62PLlrMo
 L2+ibt3ascmT+/q9RuEVg0tKalFQUI3XX/8B996bQl999QeoVAoGgJ588iu2
 efNBAoIBmFlychLi4kIpNTUW99/fle3dm0t5eVWssrKFbDYdAGIJCYmYOXMQ
 2e2clZU1oEeP9mhsbKOiohpWWlqHqqpGERZcM/DlBL4t8TZyuDPtLCoqAV9+
 +RQee2wAAKCxsRXPPrsRu3efkGxoRyo3FCwoKATz54+j5csfYdOmrcXOnecA
 WBAeHolOnWJw9eotWK0mAEpyjGNmgIWWL3+KLV060ekbzsq6iuLiGoSGBtLD
 D/dicoXnqyjdWTwuLgz79+dj/PgeyMq6ynbsOIfaWh0GDOjIVCoFAA0DTBg9
 egBefHE0zp4tY9u3n8POnRdgtxsYICA+PoYFBkagsrIZkZFB2LHjPKuoqIJa
 HYLaWh0yMuLZPfd0QmNjG6qqmrxcc/B1G0gBIIgBhKamOkyf/gUyMwdgxIg0
 mbNIBQdxFQAMLDg4HN9//2ekpsay997bi507TyA9vRPKyxvRr18HxMWF4vLl
 QghCCBzJgSQqYbC33voRwcFqvPbaOHb2bBnmz9+OyMggPPvsMBfiesu/k98y
 kqeWssBAFXXpEi/6Vaths3EUFdXgo48OICUlBoANw4f3wfffz8bSpbuwfv0R
 UTkpGaCmgAA1IiODYDBYoNGo2NWrN0X518BisbPi4lrcuqWlmhots1otEASl
 qPAknGA+7qTczvl2fAgCYMOePb9hz54TAASkpHRARkYHclgwVgB2aDRqjBnT
 FcHBAXj55S0MMNPgwSnspZfuh1ZrwrffniJA5c6FzKFo27BkyU8sNTWOzp8v
 ZxUVTSAi9O/fkfzcUXE5yTnzg+UsdPXqLRw/XoIzZ8pw8WIFW7NmFn300QHs
 2nUYQCTbuPFPCAxU0fTpawBYGGOBoiXASKFQgnPOiBwRCceO2hAUFESPPNKX
 EREKCmowenRX6PUmbNlylgAwQWDQ6w3kgAswH7d/nBweGxuGhIQIFBXVwGw2
 Izg4EGq1CkRELS1aNnhwBo0a1YWVltZReXkjLBYbKyysgcXSRKNGDWLvvJOJ
 vXsv4+OPdxOgka3/dtar46eBAcGIiwvFAw/0wKOPDsBDD/WUm4MeR2X5iU4p
 z9O12zkUCoFlZMSjpKQOEyf2oitXKikz83M2enRXYiyKPf74QHKIzTaxEw0B
 QHBwILNaOSwWizhDhewal4JMJivLyroKu50jOjqEDh8uZI2NrbBabew28zDm
 5ZqUG3UdptygQZ2RlBSFmJgQHD58GYIgwGq1obW1ngEays2tYmvWPEGpqXEs
 PX0J6uvzCYhmKlUU69s3Cfn5VVi16iAcTiiLSAqBBIFBEARmt3MQMdanTxeM
 GtWVpk7txxobW9G7dyLUaiW5i5XkZpCsLQkVlPLAn2TmKJUKpKbG4vLlCnz1
 1R/wzjt7sGPHMQAKTJrUB+fOlaOiohJKZRhsNhsEQUBsbBj0eiMaGy3imK60
 4pyjoaEZAKG5WQ+AIygoGGq1Eq2tRrc2Xi9+ip8FABbU1+sxYUIv5OVVoV+/
 dISHB2LatAE4efIatm3LgdHYhL///SBmzBiI2bOHIzp6PBhj6NAhCtOmDcB3
 351GWJgG7drFgTGGW7daoNO1gXMTOLeJdrkKmzbNRs+eiTh48CqMRitSUmLB
 OWH37ktobTVDoRAQHKxCp04x6NMnGUqlwsW7phQzvyEIDDabnb333s90/Xo9
 vv32WVy8WIH6ej1++ukFWro0ESdPXqPo6GBcuFAOgJO0cLvdjhs36kQiCOT9
 jh8jB05LIijAYDBLuMu8NCBXDOYyAitx9mwpVColundPwNix3VFaWofTp68j
 OTmK4uPDcOtWA23adAjV1Tp67LF7oFIJGDIkFd26JRAA9uCDPbBs2WTo9Saq
 qmoGACQmRkgxQsTHhyMpKYJ69kxkV65U4YcfzuPNNx8CAOzZcwlTp34EkfMJ
 EBAdHc9mzBhEixY9iI4do6VICJyBSpuNY/78bVi9eicAJTZufAVPPz2Eli3b
 w557biQ0GjU98sjnbOjQVNTV6bFx40lwbhcXTDKiyK1u8nFx0tsFS291nK59
 AEqEhQWSTmcQrQQbAAFDhqTjmWeGYtq0AcjKykdpaT0GDOiAU6eu47vvTuPG
 jWI4ToSBWLfuZfz5zyPR1mbG7t2XsH9/PpKSIjF+fE+kpcUiJCTAyYFimiv7
 9dcCcE6YPv0epKXFobCwGlOnrkVBwTU4sFuaqxmABQMH9sbWrXOQkhIDm42D
 2Wx2rlAIWLfuGObO/YeoPYGwsGB8992z6NQpGidOlKK6ugVr1hxBSkoshg5N
 w88/5+LatWqRwL4UEzGZ5pdRjsSNIKhUShIExsxmq8jl7sUChUKDhx7qhaKi
 GhQXVzmvWDuCMRYkJSVg/fo/4IEHXP2/9fV6FBbWoK5Oh8TESKSlxbGcnDLa
 s+cyq6hogsFggVIpUEREELRaE7RaAwRBwB//OJQNH55Ozc1tqKvTs9jYUAoL
 07C9e3Px9dfZKCmpIkDBROYigEEQGGOMkd2uxaxZY9k33/wRKpXC4YuordUh
 M3M1zp69AqUyHDYbF3dEQcOGdUVGRjwbO7YbPfhgD2YwWOi9937GmTPXWX5+
 FWw2KwmCCqJvQRb0JJlWdlda5OR0yT/tIJZcg4NJuRFLljyMuLhQvPLKFrFf
 KXxgh0YTgAULHsTLL49BXFyoFEAlq9XONBoVAWBarRF7916mH3+8wObMGYV+
 /ZJRXt7oTA8oK2uATmeEzcapX78OmDSpN9PpTPTll8fYkSOF0GqN1NxsYCaT
 lK8RKN6ScZVUhwVhBSDg4MHXMXZsN4eSc+QFVAEIhN0uYZ0agAXZ2bnIzlZi
 +/YcLFz4IN55JxMvvXQ/KiqaEBsbiiNHCmG3m8CYRuYKBBgTnBdOXC/9eIvA
 uitl6RnH0KFdERISgI8+2i9ChVrWjwImk8NvUlbWACkWV1nZjBs3GlFXp4NO
 Z0JNjRZabS26ds3AwIEdERwcgNWrD6O21sHZwcFqqNVK2O0W5OSU4ciRQpw5
 U4Zbt6pFj5900lQCCBQZQi6Ujjk7rDEViFpQUFB9m8BtbWaYTEYAgowgEE80
 xACOtjY9li3bhuZmA/v008cxZ859OHSoAJyDXblSifr6OvEUBRBxJu2kiFPM
 DSWYmwJ0Etkh+owJggDOBVRVNWHp0l2w243SCcsDuxsamvH990flGyhKjqQP
 FACIJSdHISwsENnZpfj222MAjLhtA8vnJXn11JDMTTe9wVwZwVU2ASUaGvTu
 R2Xm06MJKBhjChDZ8NlnB8hu53jzzYdYfHwYiopq6Z//vIyTJwWmVCoQFqZB
 REQQ9eyZiOLiWnbkSB4ABbkS2Zud67AUiAhhYcEUExPKbt5sQnm5FDEO8GO+
 KaWleL0np1AoYLfrqWPHaKZQCDh9+rpYLchbOxlBma/5kh+CiR5BmS/iDm+C
 YJJIMKYEkZ198cWfKo18AAAO7UlEQVR+ZGXl48knhyAlJYZNmtQbTzwxGAaD
 Bdeu1aGsrIG98soYBAaqMXDge2hoqGUOBxHzwgHuczZDpyNmNFphsxlEDhJ8
 rIv5skbYbY60w25vhSBEs6eeGgIA2Lz5jGhiBbvb68yHJcN89O/D6rktOz4I
 zLz6AW4TWYGSkht4++2biIiIQmRkIJRKJYgIWq0B9fVNiIoKxqpV0zFv3igs
 X77Dabh7sY8BEARBQMeO0WhoaIXdzsU3nyih1+vEZECNzLXp710aJLObDQA4
 YmPbY82aJzFyZDpWrPgFubk3RImQe+qYF13hr3/yscnM05vmIz0A3iyA2xGQ
 IAbY0dLSRC0tcg+YAoCdvv46G9On38PefXcyNBoVLVmyg0n27O0+mVOZMabA
 4MGdsXDhg4iLC6MbNxqY4/0PNdi7NxenTl2D2dwg9q+WjrYQhNs3QTnnok/E
 RACxyMg4evrpIey996YgJCSAPv/8MHvnnT3imCqvL0rxwZJeIE767j+78i44
 GH6OrwpJCbjsgyAwNDc3Ytq0L/HDD3MxZUo/vPfezzAadZL7Q8pIc8JC//6p
 +PrrP8JksmLbtnPIz68CYwyDB3fGJ59MR22tDqdOXcPFixUoLq7BzZvNMBoN
 4FwynRxKOTQ0El27pmDMmO7OWN6BA/n46KP9OHz4omyD4JfzfB+C/B2ivBOY
 7tCTrDf5QcDnu33I4ZdVo7KyFnl5t3DmzHUYjS0EqGXYZQFjAejcOYZ69kxk
 3377J1y4cJNmzfoHysuviYrRcTTu2jUVmZl9MXp0V0yZ0h9KpQCdzoTm5jZo
 tUYYjVYwBoSGatChQxT17ZsMtVpJ//znZWzYkE27d59znubEfpmrcx9+FLy7
 49+DVCTDZQ8JUHrZOi+DS43lnTgH9tAyCgUju70Vr732KPr2TcbixTvFfgXZ
 sVLAuHHd8cgjfdm8eaNw4kQpMjNXs+bmWgARJAi3L2IXFpajsLAYK1eGUdeu
 CejcOQYpKbFITo5EbGwoYmJCoFYrYDLZkJ19ja1de4wuXChnV65UEtDGgCAI
 Qqi48e4KSu7cZ15Oor7wnrzVYXeJwe4alLnZinCzCFy1p91uYImJHTF79gj8
 5S870dDQwN5+ewa++eYkystLAYSxzMz+WLRoPIYNS8MPP5zHM89sQFtbGwQh
 DJwT45KdAwZB0EAQAmGz2VBQcB0FBUWyNAAJpiSOsgGwiJupYUplmBjt4Owu
 lBLzAQ3MN4H8e1jvBiLoDmobrq+YsREgYMGCB3D2bBk7dKgA3bp1psLCGqSk
 xDJBYBg2LI3mzr2PDRuWhg8/3EeLF28Tj8Uaun2jgblEmR3PBVHMA0UrQToU
 2GTTEMhh3zqcUDabXW4l+HpFly8Oo3/1tV4eDndZGz8dyUXA2/GXABjZ4MG9
 0bdvMrZsOYvNm59Dz57t2apVWZgxYyAsFhsEgbFhw9KwcOEOrFq1U4wua+Dq
 ifNn3pDMNhZ8cCH54i4vEOFej7mJv3sdlz6YK1y4LkEAQIIgkMyPS25nQHJT
 cuI/JvvJRKC3A1DRI4/0I4DRqFFdMGVKP6Snx9OXXz5FXbrEQ683YcqU/rRi
 xS9YtepHOJJUNM6XqbiNT17mcyeLx21+LnP1wrHe6rljMruDVDMPWknWrNLh
 mtQgLCwYOp1OdNLgXyw2qFTBGD26CzIy4nH+fDk2bjyFqKggKBQCLBY7Hn98
 EFavPow339wqmktqP+bnnZiZ/U5zC3dZ30/E6q7q2ZyePQEAunRpJ3qijM6w
 0e8vjsGsVjtqa/WIjAzGK6+MQVpaLGJiQtC3bzIGDeqE99//GfPnbwKgBGPq
 Oxrqd4B8N7G+S4S5Y/27fe4GB4IjnCUIkejbt4ODg202O4uKCsbcufchO/sq
 bDYLUyjU4qnI6/sbfYQmmMiNJrZ06S6KiAhE795J6NAhCk1Nbdi+/Rxbv/44
 8vKKAQSIR25yx112dyzk1w/AfCgn8qJjcAeFx+5EVOmBQqEQo8lGzJnzAEaM
 SHf8UgoZAcDbb+/Bu+/udDfK75LA8jpmAgLQuXMcs1hsqKpqIsDIZKbVnbxR
 d5JRdpf4QXexaf6OZ+zuvGkk0oxj/Pgh2LDhGSQkhMNu53B5rZfkaVq79igu
 XbqJtrY2uotQug/C2MTAqHTAEOQBUfY/AF78Lm/Lvw7CvhjLY3y1OgApKbH0
 +OMD2UsvjUFUVDBJ19o87ipLeV4FBdXQ6Uxi3trv5WCvdX6PP/X/GQ4mAoKC
 1OjQIQopKbFOu935kjx58p/4BhRn4sTvIN7/twSWFyncplAIt8NnRP+6Ufaf
 cuci/IcE/96ilFi7tlbnN1Nb7hdITIyQ8tjQ2mpCa6vZbxuFQnBeGJF8DZLl
 0tJigNlscwu2uk1SKSAmJhRGowUtLUbcxTTBGENoaACCggJgs3EolQIaG1th
 sdjuSg8yBrRrF46GhlbYbHZwTmjf3rFu+aVD99TVqqoWCAIQGKhGRESQAyJq
 arQYN+7vCAkJgEIhuHTgXpqaDMjLeweA4+LhqlVZKCmp8wlxRITAQBUmTOiF
 558f5TzIcE7YvPk09u/PR22t1hkk9NxQjqSkSGzaNBtZWflYsmQXAgKUjqQO
 P5QWBIbu3RPw+usPIjk5CgAwZ853OH++HCqVAo5cZz+cp1Tg8OEFeOqp9c68
 iU2bZsvfKusksETcgwev4vXXf4BSKWDChJ5YvvwRBwcbjVbk5V0Ug4BmMX7m
 q7SA6G20tprx8MOrUVJSAaD5DnpDg337rqChoRXLlmUCAJYu3YVPPsmC2dwE
 R/jcp8xAEBKxadNsVFY249y5C6JjqA2389W8n7oOHYpGdnYpcnKWQhAYTp4s
 RV7eVVFw2+5CuBfg+PESlJdXAjDhr3/dg127nveZ0b506S5cvpwPgBAfH3Yb
 IhwcGwggAGFh0YiMDPbZSWNjGxhjWL36MEpK8gGEoH37LlCrFV59GILAUF2t
 hcnUjHff/RELFoyD0WjFihU/AbAgICDK5f297m2J4LwM7rBuNABUSEhIQ0CA
 0qffxGy2oqamDhcu5GLt2qN44YXRcNwXCQSgQseOHf2m/kv5vyEhAc6A6+7d
 2Whufgbh4RoIguDCxTduNODs2VwAIQCskN7uLXO4KwAQ3njjISxePEHEKs9i
 tdoBABs3ngIQjsDAIJw8uRhqtdLrhAMDVdiwIRsLF24G0IKKimacPFkqSkoA
 /v73Gfjzn0fKMopcx2ptNTt/52AEBQAbNm2ajR492nttBziu2aamvg4gDN9/
 fwYvvDBahCclwsODcePGBz7XCDBYLFYn/jvyKhy+5w8/3IcPPnjUAx7eeONH
 WaxP4fzjKx4RDZuNw2bjMJu9Dx4Q4Gii1TpuzkdEBKFjx2i/wjZxYm8sXPg1
 ADUMBrOInY7TneNF9Z5XoRgDgoMDRK7zhI0ePRKcYuhfwSphMFg89ILZbPNJ
 YEfyS6DLd6VSCZst0ElgSckzBpjNNmzdehyACiqVClar2VfISImPPtqPNWuO
 +BT3xMQInD27RCQ0SW8w8fse9ttcxmCx2JGZ2RfPPRcEwISFC3/A++//4mHH
 K5UKpKXF4dFH+0O68CfnsLo6PeLjw70S57Z2d3CYxBRS33q9CZ07L/YJLyaT
 BTNnDsaaNU84FW1GRgJu3GiAydSE9etP4NlnhzvXt2LFLwA4NBoNOnaMQlFR
 pS8CM+j1DdDr2+DrMkp1dayLmWW3k8fivImr3MyLiwvF++9PxQcf7INeXw+9
 3uBVOV6/HoCDB6+iqqrFqRx9EfROJptrG47q6mI/5poZRUUdXZ5ER4ege/f2
 +PHHM1i8eCeefXa4eCuA4YMP9gFQ4I9/HIZTp675C3pydOmShvT0OBfC3eZg
 uFyAlhPay9vBRBFlLveHpbW++eZEpKbGYe/eXFRVNbu0F/9YCXJybsBgaMS7
 7/6ARYsedCGUVN/fuO5j3jbBlBg7dozPzTGbbRg7trsHV69YMRU//piNhoZb
 OHKkCKNHd8HWrTkwm1sAKLBsWSaGDv3AH4HteOKJwVi0aDyMRotPzS5htfQe
 Bekw4avcNu4FcE6wWGxQq5WYMWMgZswY6FVRKRQCXn11Kz79NAtAK377rVhG
 tNsY6T9AQM5IilwKg4MDsG/fKz43R0rlkhej0YqMjHikpCTj+vVbWLRoB3Jy
 luKtt3YBUGPQoC6IjQ31WIvS1QPHEBMTgoAApRtueZb4+HBUVtZDqzXi6NEi
 BAWpvXKERqPCli1nRfOoBeHhgXBkOF5DYKAaQUFqEceZhzKtq9PDkdXp8Fhp
 tdJlGSVOnbqGxsZWn1aETmcC4Lh5JP1JHwdzOEy/ioomp0Xk7RRnNtvQtWuC
 E8sl6Vm+/BE88cTnOHeuEAcPFqC09BoABVaunOYyhrQ/Sjk8ABx6vcmronIv
 c+eOxHPP5cJotCEz83OoVIJPxdjY2ArAiMDAeGRkxEOhEPDAA3+HSqX0i6GO
 20hGhIe3w333dcGmTafFeaowb94mv9zrsIIc/557boTM22WHTmdA377v+g1X
 qVRK1NSsErP9OaQ8jVmzBmPevE3Q6bT4wx/WAxCQnJyEkSMzZDqJOyFWKfk0
 JQLfjdLgnDB79ghs3ZqDo0cLodfX+JksAQhESEgUPv98FgIDHbaiXl+F23lt
 vkoY4uPbY926p2R46ziS63S1dzjJCdBoYjB+fE9MmzZA1t5B5Kamirtx0zjb
 yHXS4sUT8OabW1FdXQlAgQ8+mOpytHdsiIzAISEBeOSREVCrlejRI/GuHCEA
 sGPHHPzjH8eRn3/Lp8lDRAgOVmPSpD6YOLG38/msWROhVPqOYCsUAjp2jEJm
 Zh/nqwPS0uIwY8ZIF6XpzxfRr1+yi4k3YUJPdOwYLfd3+/FFOKQjM7MP+vZN
 QlJSpPN3r78+Hjk5NxAQoITVasesWYOdkj51an/cupWC4cPTb/uDOScYDBYw
 5jgiyh0hd/NHOtwNefd6CoUg/ysvYIyhrc18R+9dYKDKxVtltzsOQHfj9QPg
 PK5KEQaj0eJHsXmW4OAAZxvpZUjSZ73e5FT4wcEBznUZDBbnH1jRaFT/cbj/
 x+H+HwL/p/yHwP8Xy/8BgvGjf3cUEzoAAAAASUVORK5CYII=